<div class="jumbotron">
	<h1><%= title %></h1>
	<h3>Bienvenido al foro de <%= title %></h3>
	<p>Inicie sesi&oacute;n para comenzar o reg&iacute;strese en el sistema si a&uacute;n no lo hizo.</p>
</div>