<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido al foro de <%= title %></p>
    <p>Inicie sesi&oacute;n para comenzar o reg&iacute;strese en el sistema si a&uacure; no lo hizo.</p>
  </body>
</html>
