<!DOCTYPE html>
<html>
  <head>
    <title>BetSoft</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="page-wrap">
      <section class="main" id="s1">
        <%- body %>
      </section>
    </div>
  </body>
</html>
