* { margin: 0; padding: 0; }

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#page-wrap {margin: 2% auto;}
#page-wrap > .main { padding: 1%;
}

section > div {padding: 20px;}
header {text-align: right;}
nav, section, footer {text-align: left;}
nav span {margin: 0px 100px 0px 0px}

#ErrorMsgs {color: #f61; font-size: smaller;}
.right {float: right;}