<div class="container">
	<h3>Ud accedi&oacute; al foro de BetSoft</h3><br>
	<h4>Aqu&iacute; podr&aacute; ver y crear mensajes p&uacute;blicos</h4><br>
	<form method="get" action="/forum/newForum">
		<div class="actions">
			<button type="submit" class="btn btn-info">Nuevo Mensaje</button>
		</div>
	</form>
	<br>
	<form method="get" action="/forum/showForum">
		<div class="actions">
			<button type="submit" class="btn btn-warning">Ver Foro</button>
		</div>
	</form>
</div>