<div class="container">
	<h2>Inicio de sesi&oacute;n</h2>
	<br>
	<form method="post" action="/login">
		<div class="field">
			<label for="usuario">Usuario:</label><br>
			<input type="text" id="usuario" name="usuario" size="30">
		</div>
		<div class="field">
			<label for="password">Contrase&ntilde;a:</label><br>
			<input type="password" id="password" name="password" size="30">
		</div>
		<br>
		<div class="actions">
			<button type="submit" class="btn btn-success">Ingresar</button>
		</div>
	</form>
</div>