<div class="container">
	<h3>Ud accedi&oacute; a los chats de BetSoft</h3><br>
	<h4>Aqu&iacute; podr&aacute; ver y crear mensajes privados</h4><br>
	<form method="get" action="/chats/newChat">
		<div class="actions">
			<button type="submit" class="btn btn-info">Nuevo Chat</button>
		</div>
	</form>
	<br>
	<form method="get" action="/chats/showChats">
		<div class="actions">
			<button type="submit" class="btn btn-warning">Ver Chats</button>
		</div>
	</form>
</div>